* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 0.5fr 0.9fr 0.3fr 0.3fr 0.3fr 0.5fr 0.3fr 0.3fr;
  grid-template-areas:
    "nav nav"
    "sidebar sidebar"
    "content1 content1"
    "content2 content3"
    "content4 content4"
    "content5 content5"
    "content6 content6"
    "content7 content7"
    "last last";
}

/* start of nav styles */
nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.5rem;
  margin-bottom: 4rem;
}
nav > img {
  width: 150px;
}
nav > button {
  padding: 0.6em 1.5em 0.6em 1.5em;
  border-radius: 2em;
  border: 1px solid hsl(322, 100%, 66%);
  color: hsl(322, 100%, 66%);
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  font-weight: 300;
  background: white;
}
nav > button:hover {
  color: hsl(321, 100%, 78%);
  border: 1px solid hsl(321, 100%, 78%);
}
/* end of navigation styles */

/* start of sidebar */
#sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#sidebar > h1 {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}
#sidebar > p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 32rem;
  color: hsl(192, 100%, 9%);
}
#sidebar button {
  padding: 1em 4.2em 1em 4.2em;
  border-radius: 4em;
  font-size: 16px;
  background: hsl(322, 100%, 66%);
  color: white;
  cursor: pointer;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 4rem;
  box-shadow: 0px 15px 20px hsl(207, 100%, 98%);
}
#sidebar > button:hover {
  background-color: hsl(321, 100%, 78%);
}

/* end of #sidebar */

/* start of content1 and content 2*/

#content1 {
  grid-area: content1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}
#content1 > img {
  max-width: 100%;
  height: auto;
  display: block;
}

#content2 {
  grid-area: content2;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.content2-data > img {
  width: 30px;
}
.content2-data > h2 {
  font-size: 4rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.content2-data > p {
  color: hsl(190, 3%, 61%);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

#content3 {
  grid-area: content3;
  margin: 0 auto;
}

/* end of content2 and content 2*/

/* start of content4 */

#content4 {
  grid-area: content4;
}
#content4 > img {
  max-width: 100%;
  display: block;
}
.firstsection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: rgba(246, 251, 255, 255);
}
.content4-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 23rem;
}
.content4-image > img {
  width: 25rem;
  max-width: 100%;
  height: 0 auto;
}
.content4-data > h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}
.content4-data > p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: hsl(192, 100%, 9%);
  padding-top: 4.8%;
}

/* end of content4  */

/* start of content5 */

#content5 {
  grid-area: content5;
  margin: 8% 0 8% 0;
}
#content5 > img {
  max-width: 100%;
  display: block;
}
#content5 > .firstsection {
  flex-direction: row-reverse;
  background: none;
}
/* end of content5 */

/* start of content6 */
#content6 {
  grid-area: content6;
  margin: 6% 0 6% 0;
}
#content6 > img {
  max-width: 100%;
  display: block;
}

/* end of content6 */

/* start of content7 */

#content7 {
  grid-area: content7;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#content7 > h2 {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}
#content7 > button {
  padding: 1em 4.2em 1em 4.2em;
  border-radius: 4em;
  font-size: 16px;
  background: hsl(322, 100%, 66%);
  color: white;
  cursor: pointer;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 4rem;
  box-shadow: 0px 15px 20px hsl(207, 100%, 98%);
}
#content7 > button:hover {
  background-color: hsl(321, 100%, 78%);
}

/* end of content7 */

/* start of last section */

#last {
  grid-area: last;
  display: flex;
  flex-direction: column;
}
.last-image {
  display: inline-block;
  max-width: 100%;
  height: auto;
  clear: none;
}
.last-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5rem 8rem 5rem 8rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: hsl(192, 100%, 9%);
}
.left-footer {
  background: hsl(192, 100%, 9%);
  color: white;
}
.left-footer > img {
  width: 170px;
}
.phone > img {
  margin-right: 4%;
}
.phone {
  padding: 2% 4% 4% 0;
}
.email {
  padding: 2% 4% 14% 0;
}
.email > img {
  margin-right: 3%;
}
.left-footer > p {
  margin: 4% 0 4% 0;
  max-width: 19rem;
  font-size: 13px;
  font-weight: 400;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
}
.right-footer {
  background: hsl(192, 100%, 9%);
  color: white;
}
.right-footer > h2 {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}
.right-footer > p {
  font-family: "Open Sans", sans-serif;
  margin: 3% 0 4% 0;
  font-weight: 400;
  font-size: 13px;
  max-width: 19rem;
}
form {
  display: flex;
  flex-direction: row;
}
input[type="text"] {
  outline: none;
  padding: 5% 32px;
  text-decoration: none;
  border: 1px solid hsl(223, 100%, 88%);
  border-radius: 3px;
  margin-right: 12px;
}

input[type="submit"] {
  color: #fff;
  outline: none;
  border: none;
  padding: 8% 20px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  background-color: hsl(322, 100%, 66%);
}
.error {
  color: hsl(354, 100%, 66%);
  font-size: 14px;
  margin: 0 auto;
  padding: 10px 0 30px 0;
}
.box > input[type="submit"]:hover {
  background-color: hsl(321, 100%, 78%);
}
.icons-center a {
  font-size: 30px;
  margin-top: 7%;
  color: white;
  text-decoration: none;
  box-sizing: border-box;
  margin-right: 12px;
  text-align: center;
  /* border-radius: 50%; */
}
.img-any {
  background: url("../images/bg-footer-top-desktop.svg") no-repeat center fixed;
  background-size: cover;
}
@media only screen and (max-width: 375px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      "nav"
      "sidebar"
      "content1"
      "content2"
      "content3"
      "content4"
      "footer";
  }
  nav {
    padding: 1.5rem 1rem 1rem 1rem;
  }
  #content1 > img {
    position: absolute;
    top: 35rem;
    padding: 4%;
  }
  #content2 {
    position: absolute;
    top: 55rem;
    left: 50%;
    margin-left: -85px;
  }
  #content3 {
    position: absolute;
    top: 72rem;
    left: 50%;
    margin-left: -85px;
  }
  #content4 {
    position: absolute;
    top: 85rem;
  }
  .firstsection {
    display: flex;
    flex-direction: column-reverse;
    padding: 20% 0 20% 0;
  }
  .content4-data {
    margin-top: 20%;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  #first-mobile-buttom {
    content: url(../images/bg-section-bottom-mobile-1.svg);
  }
  #first-mobile-top {
    content: url(../images/bg-section-top-mobile-1.svg);
  }
  .content4-image > img {
    width: 21rem;
  }
  #content5 {
    position: absolute;
    top: 130rem;
  }
  #content5 > .firstsection {
    display: flex;
    flex-direction: column-reverse;
    padding: 40% 0 40% 0;
  }
  #content6 {
    position: absolute;
    top: 170rem;
  }
  #content6 > .firstsection {
    display: flex;
    flex-direction: column-reverse;
    padding: 20% 0 20% 0;
  }
  #content6 > #first-mobile-buttom {
    content: url(../images/bg-section-bottom-mobile-2.svg);
  }
  #content6 > #first-mobile-top {
    content: url(../images/bg-section-top-mobile-2.svg);
  }
  #content7 {
    position: absolute;
    top: 226rem;
  }
  #last {
    flex-direction: row;
    position: absolute;
    top: 240rem;
    left: -27%;
  }
  form {
    flex-direction: column;
  }
  input[type="text"] {
    padding: 5% 62px;
  }
  input[type="submit"] {
    padding: 5% 20px;
    float: right;
    margin-right: 10px;
    margin-bottom: 30%;
  }
  #last > .last-section {
    flex-direction: column-reverse;
  }

  #last-image {
    content: url(../images/bg-footer-top-mobile.svg);
  }
}
